/* Write your CSS here */
.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.arrow-image {
  height: 30px;
  width: 30px;
  margin-right: 16px;
}
.button {
  border-style: none;
  background-color: transparent;
}
